body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #000000; */
}

.container {
    width: 300px;
    height: 555px;
    border-radius: 15px;
    background: url('../img/oboi_iphone_14_i_iphone_14_pro_uzhe_dostupny_vsem_zhelauschim_skachat_picture2_1.jpg') center center/cover no-repeat;
    background-color: #85c6eb;
    box-shadow: 5px 5px 10px #222, -5px -5px 10px #222;
}
.icon1 {
    width: 300px;

}

.container
.icon1
{
    color: white;
}

.icon1 {
    width: 300px;
    
}