body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 300px;
    height: 555px;
    border-radius: 15px;
    background: url('../img/oboi_iphone_14_i_iphone_14_pro_uzhe_dostupny_vsem_zhelauschim_skachat_picture2_1.jpg') center center/cover no-repeat;
    background-color: #85c6eb;
    box-shadow: 5px 5px 10px #222, -5px -5px 10px #222;
}

.timer {
    font-size: 17px;
}

.icon1 {
    width: 300px;

}

.icon1
{
    color: white;
    height: 25px;
    border-radius: 15px;
    padding: 7px;
    padding-right: 5px;
}

.icon2 {
    width: 300px;
    height: 30px;
    padding: 7px;
}
.fa-times {
    color:#fff;
}
.fa-bars {
    margin-left: 10px;
    color:#fff;
    font-size: 12px;
    cursor: pointer;
}

.fa-ellipsis-v{
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
}
span{
    margin: 5px;
    font-size: 12px;
    color: #fff;
}
.icon3{
    width: 300px;
    height: 110px;
    /* background-color: #000000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon3 span:nth-child(1){
    color: #176BEF;
    font-size: 35px;
    cursor: default;
}
span:nth-child(2){
    color: #FF3E30;
    font-size: 35px;
    cursor: default;
}
span:nth-child(3){
    color: #F7B529;
    font-size: 35px;
    cursor: default;
}
span:nth-child(4){
    color: #176BEF;
    font-size: 35px;
    cursor: default;
}
span:nth-child(5){
    color: #179C52;
    font-size: 35px;
    cursor: default;
}
span:nth-child(6){
    color: #FF3E30;
    font-size: 35px;
    cursor: default;
}
.icon4{
    width: 300px;
    height: 60px;
    text-align: center;
    position: relative;
}
input[type='text']{
    outline: none;
    border-style: none;
    width: 70%;
    border-radius: 15px;
    box-shadow: 5px 5px 8px #222,
                -5px -5px 8px #222;
                background-color: white;
                padding: 10px 15px;
                font-size: 12px;
                margin-top: 10px;
}
.fa-times{
    width: 10px;
    color: #fff;
    cursor: pointer
    
}
.pagination{
    display: inline-block;
    width: 300px;
    height: auto;
    text-align: center;
}
.pagination .fa {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #176BEF;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #222,
                -5px -5px 10px #222;
                border-radius: 50%;
}

#calendar {
    border-radius: 10px;
}
.calendar {
    position: relative;
    text-align: center;
}

.active {
    color: crimson;
    border-radius: 10px;
}
.timer {
    cursor: default;
}
button {
    margin: 10px;
    outline: none;
    border-style: none;
    background-color: rgba(28,28,28,0);
    cursor: pointer;
}
p {
    font-size: 8px;
    margin-top: 8px;
    color: #fff;
}
#plus {
    color: #F7B529;
    font-weight: normal;
    font-size: 20px;
}
.container .fa-battery-three-quarters, .fa-signal, .fa-wifi, .fa-ellipsis-v{
    float: right;
    color: #fff;
    padding-right: 10px;
}

.hide {
    display: none;
}

.show {
    display: block;
}